body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
    list-style:none;
}
a{  text-decoration: none;
}
html,body{
    font-family: "微软雅黑";
    color: #535353;
    overflow-x: hidden;
    background: #fefefe;
    font-size: 62.5%;
}
header{
    
}
.dtop-one{
    
    
    border-bottom: 1px solid #eaeaea;
}
.dtop{
    margin: 0 auto;
    width: 60%;
    display: flex;
    justify-content: space-between;
    flex-shrink:1;
    height: 2.7rem;
    line-height: 2.7rem;
}
@media screen and (max-width:960px) {.dtop{width: 100%;}}

.dtop div a{
    color:#444;
}
.dtop-two{
    height: 10rem;
}
.dtop .tel{
    background-image: url(../images/dianhua.png);
    /* background-size: 30%; */
    background-position: -3% -25% ;
    background-repeat: no-repeat;
    line-height: 2.2rem;
    padding-left: 4.5rem;
    font-size: 1.4rem;
    color: #643e33;
    margin-top: 3rem;
    text-align: center
}
.dtop .tel span{
    font-size: 2.2rem;
}
/* 导航栏 */
nav{
    height: 4rem;
    width: 100%;
    z-index: 9;
    background-color: #12A732;
}
nav div{
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
nav a{
    display: block;
    color: #fff;
    font-size: 1.6rem;
    height: 4rem;
    line-height: 4rem;
}
nav a:hover{
    color: #fff
}
/* 轮播图 */
.slide-box{
    position: relative;
    width: 100%;
}
.slide-box .bd ul{
    height: 59.6rem;
}
.slide-box .bd ul li{
    position: absolute;
    top:0;
    left: 50%;
    margin-left: -66.18rem;
/* left:3.15rem; */
}
.slide-box .prev{
    width:0;
    height:0;
    border-width:32px 43px 32px 0;
    border-style:solid;
    border-color:transparent #eaac4a transparent transparent;/*透明 灰 透明 透明 */
    position: absolute;;
    left: 50%;
    margin-left: -3.1rem;
    bottom:17%
}
.slide-box .prev span{
    display:block;
    width:0;
    height:0;
    border-width:10.66px 14.33px 10.66px 0;
    border-style:solid;
    border-color:transparent #fff transparent transparent;/*透明 黄 透明 透明 */
    position: relative;
    top:-10.66px;
    left:20px
}
.slide-box .next{
    width:0;
    height:0;
    border-width:32px 0 32px 43px;
    border-style:solid;
    border-color:transparent transparent transparent #12A732;/*透明 灰 透明 透明 */
    position: absolute;;
    right:50%;
    margin-right: -4.2rem;
    bottom:17%
}
.slide-box .next span{
    display:block;
    width:0;
    height:0;
    border-width:10.66px 0 10.66px 14.33px;
    border-style:solid;
    border-color:transparent transparent transparent #fff;/*透明 黄 透明 透明 */
    position: relative;
    top:-10.66px;
    right:35px
}
/* main栏目 */
.main{
position: relative;
top:-8.5rem
}
.main .main-top:before{
        content: '';
        display: block;
        width: 100%;
        height:54rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: url(../images/c7.jpg)  repeat center;
        background-size:100%;
        opacity: 0.1;
}
.main .main-top{
    width: 60%;
    margin: 0 auto;
}
@media screen and (max-width:960px) {
    .main .main-top{
    width: 100%;
}}

.main ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}
.main .main-title{
    font-size: 3.4rem;
    color: #643e33;
    line-height: 1;
    font-weight: bold;
    font-style: italic;
    margin-top: 4rem;
}
.main .main-name{
    font-size: 2.2rem;
    color: #eaac4a;
    padding: 5rem 0 1rem;
}
.main .main-content{
    font-size: 1.8rem;
    color: #333333;
    font-family: 宋体;
}
.main ul .main-li{
    border-bottom: 5px solid #ecac4a;
    position: relative;
    overflow: hidden;
    
}
.main ul  .main-lileft a:before{
    content: url(../images/c5.png);
    display: block;
    position: absolute;
    width: 14.2rem;
    height: 21rem;
    left: 0;
    top: 0;
    cursor: pointer;
    background-color: rgba(0,0,0,0);

}
.main ul .main-liright a:before{
    content: url(../images/c6.png);
    display: block;
    position: absolute;
    width: 14.1rem;
    height: 21rem;
    left: 0;
    top: 0;
    cursor: pointer;
    background-color: rgba(0,0,0,0);    
}
.main ul  .main-lileft a:hover:before{
    background-color: rgba(0,0,0,0.5);
}
.main ul  .main-liright a:hover:before{
    background-color: rgba(0,0,0,0.5);
}
.main ul a{
    display: block;
}
/* main文字段落 */
.main .main-bottom{
    width: 60%;
    margin: 2rem auto 0;
    display: flex;
    justify-content: space-between;
}
.main .main-bottom p{
    display: block;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #666666;
    overflow: hidden;
    line-height: 2rem;
    font-size: 1.4rem;
}
.main .main-bottom img{
    display: block;
    height: 20rem
}
/* 充电桩展示 */
.main-two{
    background: url(../images/c14.jpg);
    height: 38rem;
}
.main-two>div{
    width: 60%;
    margin: 2rem auto;
    position: relative;
}
.main-two .maintwo-head a{
    display: block;
    color: #fff;
    width: 13rem;
    height: 3.2rem;
    border: 1px solid #e4e6e9;
    text-align: center;
    line-height: 3.2rem;
    font-size: 1.4rem;
    background-color:#12A732;
    position: absolute;
    left: 50%;
    top: -8rem;
    margin-left: -6.5rem;

}
.main-two .maintwo-head .maintwo-line{
    width:3px;
    height:8rem;
    background-color: #ecac4a;
    position: absolute;
    left: 50%;
    top:-14%;
    margin-left: -1.5px;
}
.main-two .maintwo-head p{
    display: block;
    font-size: 3.4rem;
    color: #edab4a;
    line-height: 1;
    font-weight: bold;
    font-style: italic;
    height: 4.3rem;
    text-align: center;
    padding: 4.5rem 0 2rem;
}
.main-two ul{
    display: flex;
    justify-content: space-between;
}
.main-two ul li a{
    display: flex;
    flex-direction:  column;
}
.main-two ul li img{
    display: block;
    width: 14rem;
    height: 11.5rem;}
    .main-two ul li span{
    width: 100%;
    height: 3.5rem;
    text-align: center;
    background: #edab4a;
    font-size: 1.4rem;
    color: #fff;
    line-height: 3.5rem;
    overflow: hidden;
}
.main-two ul li:hover img{   
    box-sizing:border-box;
    border: 3px solid #ca841d;
}
.main-two ul li:hover span{  
    box-sizing:border-box;
    background-color: #ca841d;
}
.main-two>div>a{
    width: 13rem;
    height: 3rem;
    display: block;
    margin: 4rem auto 0;
    text-align: center;
    color: #fff;
    font-size: 1.4rem;
    line-height: 3rem;
    border: 1px solid 12A732;
    background-color: #12A732;
}
.main-two>div>a img{
display: inline-block;
vertical-align:-5%;}